.navMenu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navMenu li{
    flex: 1;
    align-self: flex-start;
    margin: 1vw;
    font-size: 22px;
    text-decoration: none;
}

.navMenu li a:hover {
    transition: 0.25s ease-in-out;
    color: #427dfc
}
