.addContainer {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.addStudentFormContainer {
    width: 40vw;
    min-height: 40vh;
    padding: 2.5em;
    background:  rgb(48, 46, 46);
    box-shadow: 0 4px 8px 0 rgb(187, 186, 186);
    border-radius: 0.8em;
    color: whitesmoke;
    align-self: center;
}


.formField {
    align-self: center;
}

.addStudentTitle {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: whitesmoke;
}

.addStudentButton {
    align-self: center;
    width: 30vw;
    padding: 15px;
    background-color: #098d5b;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: none;
    margin: 2em;
}
  
.addStudentButton:hover {
    transition: 0.5s ease-in-out;
    background: #12f39d;
    color: rgb(14, 62, 104);
}

.addStudentButton:active {
    border: 1px solid black;
    box-shadow: 0 1px #666;
}

.addNewGradeButton {
    padding: 10px;
    background-color: #0146a0; 
    cursor: pointer; 
    width: 10vw;
    color: whitesmoke;
    border: none;
}

.addNewGradeButton:hover {
    transition: 0.5s ease-in-out;
    background: #427dfc; 
    color: rgb(255, 255, 255);
}

.addNewGradeButton:active {
    border: 1px solid black;
    box-shadow: 0 1px #666;
}

.formField input {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    color:rgb(194, 194, 194);
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.formField label {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .gradeDisplayContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 1em;
  }

  .error {
    font-weight: bold;
    background-color: rgb(158, 34, 34);
    color: whitesmoke;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.8em;
  }